@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

body {
  font-family: 'Rubik', sans-serif !important;
}

.enter-card {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}